html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFF;
  background-color: #171919;
  text-transform: uppercase;
}
a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul,li{
  padding: 0px;
  margin: 0px;
  list-style: none;

}

.section{
  padding: 160px 0 120px;
}


.container{
  // max-width:  1920px;
  max-width:  1920px;
  margin: 0 auto;
  padding: 0;
}
.header{
  color: #FFF;
}


// headline-right headline-left
.headline{
  &-left,
  &-right {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    opacity: 0.5;

    position: relative;
    display: inline-block;

    &::before{
      content:"";
      position: absolute;
      width: 80px;
      height: 1px;
      background-color: #fff;
      top:50%;
    
    }
    
  }
  &-left{
    padding-left: 103px;
    &::before {
      left:0px;
    }
  }
  &-right{
    padding-right: 103px;
    &::before {
      right:0px;
    }
  }

}


.slider-arrows {  
  position: absolute;
  top: 40px;
  cursor: pointer;
  z-index: 4;

  &__left {
    position: absolute;
    right: 125px;
  }

  &__right {
    position: absolute;
    right: 88px;
  }
} //.slider-arrows



.title {
  position: relative;

  span {
    position: relative;
    display: inline-block;
    font-weight: 800;
    font-size: 200px;
    color: rgba(#fff, .05);
    transform: translateX(-50px);

    h3 {
      position: absolute;
      color: #fff;
      font-size: 80px;
      margin: 0;
      top: 0;
      right: -5px;

      &::before {
        position: absolute;
        content: "";
        width: 80px;
        height: 1px;
        right: 0;
        top: 0;
        background-color: #4AF6CD;
      }
    }
  }
}


.subtitle{
  // display: inline-block;
  text-align: right;
  padding-right: 80px;
  &_position{
    text-align: right;
    padding-right: 80px;
    margin-top: -86px;
  }
  &__head{
    font-weight: 800;
    font-size: 40px;
    padding-right: 10px;
    span{
      font-weight: 100;
    }
  }
}



.description {
  display: inline-block;
  // padding-right: 80px;
  padding-left: 5px;
  &__head {
    font-weight: 800;
    font-size: 40px;
    span {
      font-weight: 100;
    }
     .air-img {}

  }
}



.btn {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  // height: 80px;
  span{
    padding: 17px 57px 15px 17px;
    background-color: #4AF6CD;
    display: inline-block;
    margin-left: 19px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: -10px;
    }
    &::after{
      content: '';
      position: absolute;
      width: 25px;
      height: 20px;
      background-image: url(../img/arrow-right.svg);
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
    }
  }
}


// travel-slider__item
.slider__item{}


.quantity {
  // position: relative;
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 25px;
  height: 42px;
  display: block;
  border: none;
  background-color:transparent;
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;

}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top:45px;
}

.quantity-button.quantity-up {
  position: absolute;
  right: 0px;
}

.quantity-button.quantity-down {
  position: absolute;
  right: 25px;
}