@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  position: relative;
  height: 100vh;
  &__slider{
    &-item{
      height: 100vh;
      background-image: url(../img/header-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
    }
  }
}

.slider-item{
  &__info{
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
    color: #FFF;
    text-transform: uppercase;

      &-title{
        font-size: 80px;
        line-height: 86px;
        font-weight: 800;
        margin-bottom: 48px;
      }

      &-suptitle{
        margin-bottom: 5px;
      }
      // slider-item__info-text
      &-text{
        font-weight: 800;
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 20px;
      }

      &-suptext{
        margin-bottom: 8px;
      }
  }
}


.slider-arrows{
  position: absolute;
  top: 40px;
  cursor: pointer;
  z-index: 4;
  &__left{
    position: absolute;
    right: 125px;
  }

  &__right{
    position: absolute;
    right: 80px;
  }
}





.slider-dots{
  position: absolute;
  right: 50px;
  max-width: 920px;
  bottom: 36px;
  width: 100%;
  color: #FFF;

  .slick-current{
    .dots-box{
      border-top: 4px solid $green;
    }
  }
  &__item{
    
  }

  .dots-box{
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 28px;
    align-items: center;
    border-top: 4px solid #fff;
    padding-top: 6px;
    cursor: pointer;

    &__number{
      font-size: 24px;
      font-weight: 800;
      line-height: 34px;
      
    }

    &__name{
      font-weight: 300;
      line-height: 19px;
    }
  }
}









@import "media";
